body {
    background-color: color-mix(in srgb, black 90%, lightblue  10%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    margin: 20px;
  }

  .post {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
  }
  .background {
    position: absolute;
    margin-top: 10%;
    margin-left: 44%;
    
  }
  
  
  .post img, .post video {
    max-width: 100%;
    height: auto;
  }

  .btn {
    padding: 10px 35px;
  background: #022c3ded;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-style: oblique;
  font-weight: 500;
  border-radius: 20px;
  color: aliceblue;
  
  }

  .headerfg {
    position: absolute;
    height: 12%;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background: #022c3ded;
    opacity: 85%;
  }

  .logout {
    position: relative;
    height: 50%;
    float: right;
    margin-top: 1.5%;
    margin-right: 8.5%;
    opacity: 100%;
    color:black;
  }
 

  .lg {
    position: absolute;
    margin-top: 2.4%;
    margin-left: 92.2%;
    font-family: arial;
    text-decoration: none;
    color: aliceblue;
    opacity: 79%;
  }
  .pst {
    position: absolute;
    margin-top: 2.4%;
    margin-left: 81.2%;
    font-family: arial;
    text-decoration: none;
    color: aliceblue;
    opacity: 79%;
    text-decoration-line: underline;
  }

  .logo {
    position: absolute;
    margin-top: -2%;
    margin-left: -2%;

  }

  .clr {
    color: aliceblue;
  }
  
  .ft {
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
    color: aliceblue;
    opacity: 25%;
 }

 .content{
  background-color: transparent;
  border-color: rgb(237, 239, 241);
  color: aliceblue;
  height: 5vh;
  width: 100%;


 }


.image, .video, .username {
  background-color: transparent;
  border-color: aliceblue;
  color: aliceblue;
  height: 4vh;
  width: 20%;
  margin-top: 1%;
 
  

 


 }